@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html, body {
  font-family: "Poppins";
  font-style: normal;
  background-color: #F8F8FA;
  /* overflow-x: hidden; */
  /* position: relative; */
}

#toggle-navbar {
  margin-right: 15px;
  display: block;
}
@media (min-width: 1200px) {
  #toggle-navbar {
    display: none;
  }
}

aside {
  background-color: #fff;
  padding: 10px 40px;
  position: fixed;
  /* overflow-y: scroll; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 2; */
  height: 100%;
  overflow: auto;
}

aside #toggle-navbar {
  margin-left: 20px;
}

.versioning {
  color: #7B2039;
  margin-right: 20px;
  display: inline-block;
}

.sidebar-item {
  margin-top: 10px;
  width: 182px;
  display: block;
  background: transparent;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}

.sidebar-membership-item {
  display: block;
  background: transparent;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}
.sidebar-item.active {
  background: #4640DE;
}
.sidebar-item.active span {
  color: #fff;
}
.sidebar-item.active svg path {
  stroke: #fff;
}
.sidebar-item svg {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.sidebar-item svg path {
  stroke: #ABB3C4;
}
.sidebar-item span {
  font-size: 16px;
   /* identical to box height */
  color: #121F3E;
}


#main {
  display: grid;
  grid-template-columns: 182px auto;
}

.card {
  width: 100%;
  padding: 27px;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 14px;
}
